@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    }

    body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .root {
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
        @media (min-width: 1024px) {
            .root {
            /* max-width: 1280px; */
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .nav__left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-weight: 900;
        font-size: 24px;
        text-decoration: none;
        color: #243e63;
        transition: color 0.3 ease-in-out;
    }

    .nav__left:hover {
        color: #6415ff
    }

    .nav__logo--wrapper {
        width: 40px;
        height: 40px;
    }

    .nav__logo--wrapper > img {
        width: 100%;
    }

    .nav__right--mobile {
        background-color: transparent;
        border: none;
        height: 24px;
        width: 24px;
        z-index: 20;
    }

    .nav__right--mobile:hover {
        cursor: pointer;
    }

    .nav__right--mobile > i {
        font-size: 24px;
    }

    .nav__right--desktop {
        display: none;
    }

    @media (min-with: 1024px) {
        .nav__right--mobile {
            display: none;
        }

        .nav__right--desktop {
            display: flex;
            gap: 72;
        }
    }

    .nav__mobile--links--container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 24px 16px;
        z-index: 10;
    }

    .nav__mobile--links {
        background-color: white;
        border: rgb(226, 232, 240) solid 1px;
        padding: 32px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__mobile--links > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.4px;
        padding: 8px;
        gap: 22px;
    }

    .signup__button {
        color: #f8fafc;
        background-color: #6415FF;
        border-radius: 1000px;
        padding: 12px 32px;
    }

    .nav__right--desktop > ul {
        display: flex;
        list-style-type: none;
        gap: 48px;
    }

    .nav__right--desktop > ul > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__links {
        color: #243e63;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    .nav__links::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6;
        left: 0;
        background-color: #6415ff;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .nav__links:hover {
        color: #6415ff;
    }

    .nav__links:hover ::after {
        opacity: 100%;
    }

    .auth__buttons {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }

    .auth__button--login {
        color: #243e63;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .auth__button--signup {
        color: #f8fafc;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        background-color: #6415ff;
        border: none;
        padding: 12px 32px;
        border-radius: 1000px;
    }

    .button__hover {
        transition: box-shadow 0.3s ease-in-out;
    }

    .button__hover:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10px #31313157;
    }

    /* HERO SECTION */

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 80px 0;
        gap: 48px;
        position: relative;
        max-width: 512px;
    }

    .hero::before {
        content: "";
        background-image: url(./assets/hero-blob.svg);
        pointer-events: none;
        position: absolute;
        z-index: -10;
        height: 256px;
        width: 256px;
        background-size: 256px 256px;
        display: inline-block;
        opacity: 0.05;
        left: -160px;
        bottom: 0;
    }

    .hero__content--title {
        font-size: 30px;
        font-weight: 700;
    }

    .purple--highlights {
        color: #6415ff;
    }

    .hero__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .hero__left-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .hero__content_para {
        font-size: 16px;
        color: #243e63;
        line-height: 22px;

    }

    .hero__left-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .hero__right > img {
        width: 100%;
    }

    .hero__left-bottom > img {
        width: 100%;
        opacity: 0.5;
    }

    .hero__subtext {
        color: #a0afc0;
        font-size: 14px;
        font-weight: 700;
        text-decoration: uppercase;
        letter-spacing: 1px;
    }

    .hero__input--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        position: relative;
        max-width: 448px;
    }

    .hero__cta {
        color: #f8fafc;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        background-color: #6415ff;
        border: none;
        padding: 12px 0px;
        border-radius: 1000px;
        width: 100%;
    }

    .hero__input--field {
        color: #243e63;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        border: none;
        padding: 16px 0 16px 32px;
        border-radius: 1000px;
        width: 100%;
        border: #E2E8F1 2px solid;
        transition: border-color 0.3s ease-in-out;
    }

    .hero__input--field::placeholder {
        color: #243e63;
        opacity: 0.3;
    }

    .hero__input--field:focus {
        border-color: #6415ff;
        outline-color: transparent;
        outline-offset: 2px;
    }

@media (min-width: 640px) {
    .hero__input--wrapper {
    align-items: flex-end;
    }

    .hero__cta {
        position: absolute;
        width: 160px;
        margin: 8px;
    }
}

    @media (min-width: 1024px) {
        .hero {
            flex-direction: row;
            max-width: none;
            text-align: left;
            justify-content: space-between;
            align-items: end;
            max-width: 1280px;
        }
        .hero__content--title {
            font-size: 36px;
        }

        .hero__left {
            align-items: start;
            gap: 80px;
            width: 41.666666666%;
        }

        .hero__left-top {
            align-items: start;
            gap: 32px;
        }

    .hero__input--field {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 192px;
}

        .hero__left-bottom {
            align-items: start;
        }

        .hero__left-bottom > img {
            width: 460px;
        }

        .hero__right > img {
            max-width: 768px;
        }

        .hero__subtext {
            font-size: 12px;
        }
    }

@media (min-width: 1280px) {
    .hero {
        align-items: center;
        gap: 0;
    }
    .hero__right > img {
        max-width: 768px;
    }

    .hero__content--title {
        font-size: 48px;
    }
}


    /* GENERAL SECTIONS STYLES */

    .section__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0;
        gap: 16px;
        position: relative;
        width: 100%;
        max-width: 1024px;
        text-align: center;
    }

    .section__title {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.6px;
        color: #6415ff;
        font-size: 16px;
    }

    .section__subtitle {
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 0.6px;
        color: #243e63;
    }

    .section__content {
        color: #7c8ca2;
        font-size: 0.875;
        font-weight: 500;
        line-height: 1.625;
        max-width: 576px;
    }

.section__cta {
        color: #f8fafc;
        background-color: #6415FF;
        border-radius: 1000px;
        padding: 12px 32px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        margin-top: 16px;
    }

    .section__content--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .values__priciples {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .section__wrapper__values__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .values__features {
        display: flex;
        flex-direction: row;
    }

    .values__feature--title {
        display: flex;
        flex-direction: row;
    }

    /* .Values__section__content--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px
    } */


     /* .section__wrapper {
        display: flex;
        flex-wrap: wrap;
    } */

    @media (min-width: 768px) {
        .section__content--wrapper {
        text-align: left;
        align-items: start;
        }
    }

    @media (min-width: 640px) {
        .section__subtitle {
            font-size: 48px;
        }
    }

    @media (min-width: 768px) {
        .section__content {
            font-size: 16px;
        }
    }

    @media (min-width: 1024px) {
    .section__content {
        font-size: 18px;
    }
}

    /* FEATURE ITEMS */

    .features__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .feature__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 24px;
        gap: 16px;
        max-width: 384px;
    }

    .feature__icon--wrapper {
        border-radius: 100%;
        border: #a0afc0 solid 1px;
        width: 66px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feature__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

    }

    .feature__content--title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.4px;
        color: #243e63;
    }

    .feature__content--text {
        font-weight: 500;
        line-height: 2;
        color: #7c8ca2;
    }

    .feature__blob {
        position: absolute;
        width: 256px;
        height: 256px;
        bottom: -20px;
        z-index: -10;
        right: -140px;
        opacity: 0.25;
        pointer-events: none;
    }

    /* prototype-illustration */

    .prototype-illustration {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        position: relative;
        flex-shrink: 0;
    }

    .bGBQIE {
        border-radius: 4px;
        max-width: 100%;
        height: auto;
        /* display: block; */
        vertical-align: middle;
    }

    /* prototype-illustration */

    @media (min-width: 640px) {
        .section__subtitle {
            font-size: 48px;
        }
        .feature__item {
            flex-direction: row;
            align-items: flex-start;
        }
        .feature__content {
            text-align: left;
            align-items: start;
        }
        .feature__icon--wrapper {
            padding: 20px;
        }
    }

    @media (min_width: 768px) {
        .features__items {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        .feature__item {
            max-width: 339px;
        }
    }

    /* QUALITY WORK SECTION */
    .work__wrapper {
        flex-direction: column-reverse;
        gap: 64px;
        max-width: 1280px;
        width: 100%;
    }

    .work__image--wrapper {
        max-width: 100%;
        border: #e2e8f0 1px solid;
        border-radius: 4px;
        overflow: hidden;
    }

    .work__image--wrapper > img {
        width: 100%;
    }

    @media (min-width: 768px) {
        .work__wrapper {
            flex-direction: row;
        }
    }

    /* STEPS SECTION */

    .steps__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 64px;
        max-width: 1280px;
        width: 100%;
        justify-content: space-between;
    }

    .steps__wrapper > .steps__content--wrapper {
        max-width: 570px;
        width: 100%;
        padding: 32px;

    }

    .steps__image--wrapper {
        max-width: 640px;
    }

    .steps__image--wrapper > img {
        width: 100%;
    }

    .steps__list {
        list-style: none;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .steps__list > li {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .step__number {
        color: #cbd5e0;
        font-size: 36px;
        font-weight: 600;
        line-height: 1;
    }

    .step__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .step__title {
        font-size: 20px;
        color: #243e63;
        font-weight: 600;
        line-height: 1;
    }

    .step__description {
        color: #718096;
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        max-width: 320px;
    }

     @media (min-width: 768px) {
        .steps__wrapper {
            flex-direction: row-reverse;
        }
     }

     .steps__list > li {
        flex-direction: row;
        gap: 21;
     }

     /* PRICING */

     .values__feature--title {
        flex-direction: row;
     }

     .pricing {
        margin-top: 100px;
        color: #6415ff;
        font-weight: 700;
        letter-spacing: 0.1em;
        --tw-text-opacity: 1;
     }

     .values__feature--icon-affordable {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        --tw-bg-opacity: 1;
        background-color: rgb(154 230 180 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
         color: rgb(39 103 73 / var(--tw-text-opacity));
         margin-left: auto;
         margin-right: auto;
         display: inline-block;
         flex-shrink: 0;
         padding: 8px;
         border-radius: 9999px;
         border-width: 0px;

     }

     .affordable__text {
        margin-top: -200px;
        border: -100px;
        padding: 100px;
     }

     .values__feature--content {
        display: flex;
        flex-direction: row;
        padding: 0px;
     }

     .bpmslc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin-top: 30px;
        --tw-bg-opacity: 1;
        background-color: rgb(254 178 178 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(155 44 44 / var(--tw-text-opacity));
        margin-left: auto;
         margin-right: auto;
         display: inline-block;
         flex-shrink: 0;
         padding: 8px;
         border-radius: 9999px;
         border-width: 0px;
    }

     .feather__feather-briefcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Reasonable__flexible {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 25px;
    }

    .purple--highlight-plans {
            --tw-text-opacity: 1;
            color: rgb(100 21 255 / var(--tw-text-opacity));
    }

    .Reasonable__flexible--para {
        margin-top: 25px;
    }

    /* PLANS */

    .ThreePlans__PersonalPlan {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
        padding: 8px 32px 0px 32px;
    }

    .PersonalPlan__PlanHeader {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 32px;
        text-transform: uppercase;
        line-height: 1.625;
    }

    .name {
        font-size: 19px;
        font-weight: 700;
    }

    .price {
        margin-top: 4px;
        margin: 4px;
        font-size: 36px;
        font-weight: 700;;
    }

    .monthly {
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #A0AEC0;
        --tw-text-opacity: 1;
    }

    .ThreePlans__PlanFeatures {
        margin-left: -32px;
        margin-right: -32px;
        display: flex;
        flex-direction: column;
        border-top-width: 2px;
        border-bottom-width: 2px;
        padding: 32px;
    }

    .feature__mainFeature {
        color: #1A202C;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.025em;
    }

    .feature {
        color: #718096;
        font: 16px;
        margin-top: 20px;
        font-weight: 500;
    }

    .ThreePlans__PlanAction {
        padding: 32px 16px;
    }

    .Individuals__BuyNowButton {
        color: #F7FAFC;
        font: 14px;
        padding: 16px 32px;
        background-color: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217));
        width: 100%;
        border-radius: 9999px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .TwoColumnWithImageAndRating__Image {
        border-radius: 4px;
        max-width: 100%;
        height: auto;
        display: block;
        vertical-align: middle;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0px;
        border-style: solid;
        border-color: rgb(226,232, 240);
    }

    .Testimonials__Subheading {
        text-align: center;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgb(100 21 255 / var(--tw-text-opacity));
        margin: 0px;
        font-size: inherit;
    }

    .OurClients__LoveUs {
        color: #243E63;
        margin-top: 16px;
        margin: 16px 0px 0px;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        line-height: 1.25;
        letter-spacing: 0.025em;
    }

    .LoveUs__OurClients {
        color: #6415FF;
    }

    .kpsZpj {
        margin-right: 4px;
        display: inline-block;
        height: 20px;
        width: 20px;
        fill: currentColor;
        --tw-text-opacity: 1;
        color: rgb(246 173 85 / var(--tw-text-opacity))
    }

    .AmazingUser__Experience {
        color: #243E63;
        font: 20px;
        margin: 16px 0px 0px;
        margin-top: 16px;
        font-size: ;
        font-weight: 700;
    }

    .Description__Lorem {
        margin-top: 24px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.625;
        --tw-text-opacity: 1;
        color: #7C8BA1;
    }

    .block_quote--section {
        margin-top: 16px;
        margin-bottom: 32px;
        font-weight: 500;
        line-height: 1.625;
        --tw-text-opacity: 1;
        color: #4A5568;
    }

    .TwoColumnWithImageAndRating__CustomerInfo {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .TwoColumnWithImageAndRating__CustomerInfoAndImage {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .OFCMQ {
        height: 64px;
        width: 64px;
        border-radius: 9999px;
    }

    .TwoColumnWithImageAndRating__CustomerTextInfo {
        margin-top: 8px;
        text-align: center;
    }

    .TwoColumnWithImageAndRating__CustomerName {
        color: #243E63;
        font-size: 20px;
        font-weight: 700;
    }

    .TwoColumnWithImageAndRating__CustomerTitle {
        font-weight: 500;
        --tw-text-opacity: 1;
        color: #7C8BA1;
    }


    .ezWOiH {
        position: relative;
    }

    .bZkfAO {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-top: 80px;
        padding-bottom: 0px;
    }

    *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0px;
        border-style: solid;
        border-color: rgb(226, 232, 240);
    }

    .hhwGMs {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }

    .bUIJbq__bhSrBo {
        margin-bottom: 16PX;
        text-align: center;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgb(100 21 255 / var(--tw-text-opacity));
        margin: 0px;
        font-size: inherit;
    }

    .gaeLuF__fPVwLP {
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 0.4px;
    }

    .kcrcBe {
        color: #6415FF;
        font: 36px;
        --tw-text-opacity: 1;
    }

    .cvGnkt__dQRFzZ {
        width: 100%;
        text-align: center;
        margin-top: 16px;
        max-width: 576px;
        font-size: 16px;
        line-height: 1.625;
        --tw-text-opacity: 1;
        color: #7C8BA1;

    }

    .jwoxv__bJulis {
        margin-bottom: 0px;
        position: relative;
    }

    .bZkfAO__jYOvxL {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .fAVdGR {
        position: relative;
        border-radius: 8px;
        --tw-bg-opacity: 1;
        background-color: rgb(100 21 255);
        /* background-color: rgb(100 21 255 / var (--tw-bg-opacity)); */
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .jA__DhBo {
        position: relative;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        max-width: 1024px;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;
    }

    .fuImxS__dEbSZl {
        max-width: 512px;
    }

    .cNPcGG {
        font-size: 24px;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgb(247 250 252 / var(--tw-text-opacity));
        margin: 0px;
    }

    .fuImxS__bISexO {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 512px;
    }

    .hmfpka:first-child {
        margin-top: 0px;
    }

    .GetStarted__Link--hmfpka--lmHNcs {
        --tw-bg-opacity: 1;
        background-color: rgb(245 101 101 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(247 259 252 / var(--tw-text-opacity));
        --tw-shadow: 0 10px 15px -3px
        rgba(0,0,0,0.1), 0 4px 6px -2px
        rgba(0,0,0,0.05);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0#0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        margin-top: 16px;
        width: 100%;
        border-radius: 9999px;
        border-width: 1px;
        border-color: transparent;
        padding: 12px 24px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.4px;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 300ms;
    }

    .GetStarted__Link--hmfpka--eLyhTh {
        --tw-border-opacity: 1;
        border-color: rgb(160 174 192 / var(--tw-border-opacity));
        --tw-text-opacity: 1;
        color: rgb(247 250 252 / var(--tw-text-opacity));
        margin-top: 16px;
        width: 100%;
        border-radius: 9999px;
        border-width: 1px;
        padding: 12px 24px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.025;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 300ms;
    }

    a {
        text-decoration: inherit;
    }

    /* FOOTER */

    .coJPtL {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px; */
        --tw-bg-opacity: 1;
        background-color: rgb(100 21 255 / var(--tw-bg-opacity));
        padding: 80px 32px;
        --tw-text-opacity: 1;
        color: rgb(247 250 252 / var(--tw-text-opacity));
    }

    .iKlRYw {
        position: relative;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }

    .hgIwoE {
        margin-top: -48px;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: space-between;
        text-align: center;
    }

    @media (min-width: 768px) {
        .hgIwoE {
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
    }

    @media (min-width: 640px) {
        .hgIwoE {
            -webkit-box-pack: start;
            justify-content: flex-start;
            text-align: left;
        }
    }

    .jhcLjl {
        margin-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: 768px) {
        .jhcLjl {
            width: auto;
        }
    }

    @media (min-width: 650px) {
        .jhcLjl {
            width: 33.3333%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .kHMfVa {
        font-weight: 700;
        text-transform: uppercase;
    }

    .kTXhVj {
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .dVxpTx {
        margin-top: 12px;
    }

    .kLEFbT {
        margin-top: 64px;
        margin-bottom: 64px;
        width: 100%;
        border-bottom-width: 2px;
        --tw-border-opacity: 1;
        border-color: rgb(116 44 255 / var(--tw-border-opacity));
    }

    .hGDlbo {
        width: 32px;
    }

    .kfBaHq {
        margin-left: 8px;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 0.05em;
        --tw-text-opacity: 1;
        color: rgb(247 250 252 / var(--tw-text-opacity))

    }

    .ePeMrm {
        margin-top: ;
        text-align: center;
        font-size: ;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgb(203 213 224 / var(--tw-text-opacity))
    }

    p {
        margin: 0px;
    }

    .iFNfwT {

    }